



= content_for :header do
  %h1 Dept Summary

%p#notice #{notice}

- if @dept.upload_errors.any?
  #upload_errors
    Department created, but some nurses and/or procs were skipped.
    - @dept.upload_errors.each do |error|
      %ul
        %li #{error}
    Correct these errors by adding nurses and procedures manually.

%p
  %b Name:
  = @dept.name

%p
  %b Hospital:
  = @dept.hospital

%p
  %b Location:
  = @dept.location

= link_to 'Edit', edit_dept_path(@dept)

%table#nurse_table
  %caption Nurses
  - if @dept.nurses.count==0
    %tr
      %td (no nurses)
  - else
    - @dept.nurses.each do |nurse|
      %tr
        %td #{nurse.name} (#{nurse.username}) 
        %td #{nurse.email}
        %td#validator #{nurse.validator? ? "(validator)" : "(regular nurse)"}

%table#proc_table
  %caption Procs
  - @dept.procedures.each do |proc|
    %tr
      %td #{proc.name}

:css
  #upload_errors { 
    border: solid;
    width: 500px;
    color: red;
   }
  #nurse_table, #proc_table {
    margin-top:25px;
    width:100%;
    border-collapse:collapse;
   }
  th, td {
    border:1px solid;
  }
