





= render "errors"

= form_for @completed_proc do |f|
  %fieldset
    .fields= f.label :proc_name, "Procedure Name"
    .fields= f.text_field :proc_name
    #procError Choose a valid procedure name
    .fields= f.label :date_start, 'Date'
    .fields= f.text_field :date_start
    .fields= f.label :quantity, 'How many of these procedures?'
    .fields= f.number_field :quantity, in: 1..CompletedProc::MAX_PROCS_PER_DAY
    .fields= f.label :comments
    .fields= f.text_area :comments, cols: 40, rows: 4
    #options
      = render 'options', options: @completed_proc.procedure.options if @completed_proc.procedure
  - if @nurse.validator? then
    Validate this procedure?
    %label
      Valid
      = f.radio_button :status, CompletedProc::VALID
    %label
      Reject
      = f.radio_button :status, CompletedProc::REJECTED

  = f.submit 'Acknowledge', id: 'ack' if @completed_proc.rejected?
  = f.submit id: 'submit'

:css
   #procError {
    display: none;
    width: 250px;
    background: red;
  }
  #ack {
    color: red
  }

:javascript
  PROCID = '#completed_proc_proc_name'
  proc_list = #{render 'autocomplete_list'}

  function loadOptions() {
    $('#options').load( "#{options_completed_proc_path(@completed_proc._id)}",
                        "proc="+encodeURIComponent( $(PROCID).val() ) );
  }
  function fixCase() {
    where = $.inArray( $(PROCID).val().toLowerCase(), 
                       proc_list.map( function(i) { return i.toLowerCase() }) );
    if ( where != -1 ) { 
      $(PROCID).val(proc_list[where]);
      $('#procError').hide() 
    }
    else { $('#procError').show() }
  }
  
  $(PROCID).autocomplete({
    source: proc_list,
    select: function( event, ui ) { 
      $(PROCID).val(ui.item.value);
      $('#procError').hide();
      loadOptions();
    },
    minLength: 0,
    change: function(event, ui) { fixCase() } 
  });
  
  $(PROCID).change( loadOptions )
  
  $("#completed_proc_date_start").datepicker({
    #{@nurse.validator ? '' : 'minDate: -8, maxDate: +1,'}
    dateFormat: "dd/mm/yy" });
