





= render "errors"

= form_for @completed_proc do |f|
  %fieldset
    .fields= f.label :proc_name, "Procedure Name"
    .fields= f.text_field :proc_name
    .fields= f.label :date_start, 'Date'
    .fields= f.text_field :date_start
    .fields= f.label :quantity, 'How many of these procedures?'
    .fields= f.number_field :quantity, in: 1..CompletedProc::MAX_PROCS_PER_DAY
    .fields= f.label :comments
    .fields= f.text_area :comments, cols: 40, rows: 4
    #options
      = render 'options', options: @completed_proc.procedure.options if @completed_proc.procedure
  - if logged_in_nurse.validator? then
    Validate this procedure?
    = f.label :status, 'Valid'
    = f.radio_button :status, 'valid'
    = f.label :status, 'Invalid'
    = f.radio_button :status, 'invalid'

  %br
  = f.submit id: 'submit'

:javascript
  PROCID = '#completed_proc_proc_name'

  function load_options() {
    $('#options').load( "#{options_completed_proc_path(@completed_proc._id)}",
                        "proc="+encodeURIComponent( $(PROCID).val() ) );
  }
  
  
  proc_list = #{render 'autocomplete_list'}

  $(PROCID).autocomplete({
    source: proc_list,
    select: function( event, ui ) { 
      $(PROCID).val(ui.item.value);
      load_options();
    },
    minLength: 0,
    change: function(event, ui) { 
      if( !ui.item && $.inArray($(PROCID).val(), proc_list)==-1 ) { $(PROCID).val(""); } 
    }
  });
  
  $(PROCID).change( load_options )
  
  $("#completed_proc_date_start").datepicker({ dateFormat: "dd/mm/yy" });
