


- if options && options.size>0
  Extra options for this procedure
  = fields_for :completed_proc do |f|
    - if options.end_with? '?'
      %label
        = options
        = f.check_box :options, {}, options.chop
    - else
      - options.split(',').each do |option|
        %label
          = option
          = f.radio_button :options, option
