


- if options && options.size>0
  %br 
  %em Extra options for this procedure
  %br
  = fields_for :completed_proc do |f|
    - if options.end_with? '?'
      %label
        = options
        = f.check_box :options, {}, options.chop
    - else
      - options.split(',').each do |option|
        %label
          = option
          = f.radio_button :options, option, 
                    'parsley-required'=>true,
                    'parsley-error-message'=>'Please choose an option.',
                    'parsley-error-container'=>'#optionErrors'
      #optionErrors

:javascript
  $('#options input').each(function() {
    $('form').parsley('addItem', $(this));
  });
