



- if logged_in_nurse.validator? || !@completed_proc.validated?

  = content_for :header do
    %h1 Edit procedure submitted by #{@completed_proc.nurse.first_name}

  - if @completed_proc.rejected? 
    .rejected
      This procedure was rejected
      = "(by #{@completed_proc.validated_by.first_name})" if @completed_proc.validated_by
      \- please read comments and resubmit, or acknowledge.

  = render 'form'

- else @completed_proc.validated
  %h1 Procedure has already been validated, can only be edited by validating nurse.

:css
  .rejected {
    color: red;
    background-color: lightgrey;
    margin: 0.5em;
    padding: 0.5em;
    font-family: monospace
  }