



%h1 Procedures pending validation for Nurse #{@nurse.first_name} (uid #{@nurse.username})

%pre (total #{@completed_procs.count})

= form_for :proc_ids, method: :put, url: 'validate_procs' do |f|
  %table#pendingValidationsTable{border: 1}
    %tr
      %th Procedure
      %th Date
    - @completed_procs.each do |comp_proc|
      %tr
        %td 
          %a{href: edit_completed_proc_path(comp_proc)}
            = comp_proc.procedure.name
            = "(#{comp_proc.quantity})" if comp_proc.quantity>1

        %td= comp_proc.date_start
