






= form_for :proc_ids, method: :put, url: validate_procs_nurse_url(@nurse) do |f|
  %table#pendingValidationsTable{border: 1}
    %caption (total #{CompletedProc.pending_validations.count})
    %tr
      %th Validate?
      %th Nurse
      %th Procedure
      %th Date
    - CompletedProc.pending_validations.asc(:date_start).each do |comp_proc|
      %tr
        %td= f.check_box comp_proc.id, {checked: true}, 'validate', nil
        %td #{comp_proc.nurse.first_name} (#{comp_proc.nurse.username})
        %td 
          %a{href: edit_completed_proc_url(comp_proc)}
            = comp_proc.procedure.name
            = "(#{comp_proc.quantity})" if comp_proc.quantity>1

        %td= comp_proc.date_start

  =f.submit 'Validate Checked'