



%h3{id: "#{id}Header"} #{title} (#{total})
- if total>0
  %table{id: "#{id}Table", border: 1}
    %tr
      - headers.each do |header|
        %th #{header}
    = render partial: row_partial, collection: collection
- else
  %em #{owise}