



%h3{id: id} #{title} (#{total})
- if total>0
  %table{id: id, border: 1}
    %tr
      - headers.each do |header|
        %th #{header}
    = render partial: row_partial, collection: collection
- else
  .otherwise #{owise}