%h1 Welcome to the CathTraq system, Nurse #{@nurse.first_name}!
(username #{@nurse.username})

= render "errors"

Would you like to add a procedure?

= form_for(@completed_proc, :method => :put, :url => { :action => "save_procedure" }) do |f|
  %fieldset
    .field
      .fields= f.label :proc_name
      .fields= f.text_field :proc_name, :id => 'proc_name'
      .fields= f.label :date_start, 'Date'
      .fields= f.text_field :date_start, :id => 'date_start'
      .fields= f.label :quantity, 'How many of these procedures?'
      .fields= f.number_field :quantity, :in => 1..CompletedProc::MAX_PROCS_PER_DAY
      .fields= f.label :comments
      .fields= f.text_area :comments, :cols => 40, :rows => 4
      #options
  .actions
    = f.submit
  = button_to 'Logout', logout_path, method: :delete

:javascript
  var proc_names = [ #{render 'autocomplete_list'} ];
  
  $( "#proc_name" ).autocomplete({
    source: function( request, response ) {
      response( $.grep( proc_names, function( item ){
        return item.toLowerCase().indexOf(request.term) == 0;
      }) ) },
    select: function( event, ui ) { 
      $('#proc_name').val(ui.item.value); 
      $('#options').load( "#{url_for(:action => 'options', :controller => 'nurses')}" 
        ,"proc="+encodeURIComponent(ui.item.value) ) 
    },
    change: function (event, ui) {
      if(!ui.item){ $("#proc_name").val(""); }
    },
    minLength: 0
  });
  
  $( "#date_start" ).datepicker({ dateFormat: "dd/mm/yy" });