




= content_for :header do
  = image_tag 'nurse.jpeg', id: 'nurseImage'
  %h1 Home Page

:javascript
  $(function() {
    $( "#accordion" ).accordion({collapsible: true, heightStyle: "content"});
  });

#accordion
  %h3#topHeader 
    Personal Info
    %span#updateMe (updating #{image_tag 'ajax-loader.gif'})

  = form_for @nurse, remote: true do |f|
    = f.label :name
    (first and last name, no title)
    .watchMe= f.text_field :name

    = f.label :designation
    .watchMe= f.text_field :designation

    = f.label :comments, "Previous Experience & Other Comments"
    .watchMe= f.text_area :comments, cols: 40, rows: 4

    = f.label :email
    .watchMe= f.email_field :email

    - if @nurse.validator?
      .watchMe
        = f.label :wants_mail, "Receive daily emails?"
        = f.check_box :wants_mail

    %br
    %a#resume (Link to resume goes here)

    -# Spinner is hidden again by ajax response in update.js.coffee
    :javascript
       $('#updateMe').hide();
      $('.watchMe').change( function() { 
        $('#updateMe').show();
        $(this).parents('form:first').submit();
       } );
 
  %h3 Professional Development

  %em Info about professional development goes here.

  %h3#pendingHeader Procedures awaiting validation (#{@nurse.pending_procs.count})
  - if @nurse.pending_procs.count>0
    %table#pendingValidationsTable{border: 1}
      %tr
        %th Procedure
        %th Date
      - @nurse.pending_procs.each do |comp_proc|
        %tr
          %td 
            %a{href: edit_completed_proc_path(comp_proc)}
              = comp_proc.procedure.name
              = "(#{comp_proc.quantity})" if comp_proc.quantity>1

          %td= comp_proc.date_start
  - else
    %em Nothing waiting for validation.

  %h3#rejectedHeader Invalid procedures (#{@nurse.rejected_procs.count})
  - if @nurse.rejected_procs.count>0
    %table#rejectedTable{border: 1}
      %tr
        %th Procedure
        %th Date
      - @nurse.rejected_procs.each do |comp_proc|
        %tr
          %td
            %a.rejected{href: edit_completed_proc_path(comp_proc)}
              = comp_proc.procedure.name
              = "(#{comp_proc.quantity})" if comp_proc.quantity>1
          %td= comp_proc.date_start
          %td.val_by= "(#{comp_proc.validated_by.first_name})" if comp_proc.validated_by
  - else
    %em None of your procedures are invalid.

  %h3#summaryHeader Summary of your completed procs (#{@nurse.completed_procs_total})
  - if @nurse.completed_procs_total>0
    %table#summaryTable{border: 1}
      %tr
        %th Procedure
        %th How many
      - @nurse.completed_procs_summary.each do |proc_name, count|
        - next unless count>0
        %tr
          %td #{proc_name}
          %td #{count}
  - else
    %em No completed procedures yet.

:css
  a.rejected  {
    color: red;
  }
  #nurseImage {
    width: 75px;
    height: auto;
    position: relative;
    float: right;
    padding: 1px;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 10;
  }
  #accordion {
    position: relative;
    top: -80px;
    clear: both;
  }
  .val_by {
    border: none;
    font-style: italic;
  }
