




= content_for :header do
  = image_tag mugshot_nurse_path(@nurse), id: 'nurseImage'
  %h1 Home Page

:javascript
  $(function() {
    $( "#accordion" ).accordion({collapsible: true, heightStyle: "content"});
  });

#accordion
  %h3#topHeader 
    Personal Info
    %span#updateMe (updating #{image_tag 'ajax-loader.gif'})

  = form_for @nurse, remote: true do |f|
    = f.label :mugshot, 'Image'
    .watchMe= f.file_field :mugshot

    = f.label :name
    (first and last name, no title)
    .watchMe= f.text_field :name

    = f.label :designation
    .watchMe= f.text_field :designation

    = f.label :dept_id
    .watchMe= f.collection_select :dept_id, Dept.all, :id, :full_name

    = f.label :comments, "Previous Experience & Other Comments"
    .watchMe= f.text_area :comments, cols: 40, rows: 4

    = f.label :email
    .watchMe= f.email_field :email

    - if @nurse.validator?
      .watchMe
        = f.label :wants_mail, "Receive daily emails?"
        = f.check_box :wants_mail

    %br
    %a#resume (Link to resume goes here)

    -# Spinner is hidden again by ajax response in update.js.coffee
    :javascript
      $('#updateMe').hide();
      $('.watchMe').change( function() { 
        $('#updateMe').show();
        $(this).parents('form:first').submit();
       } );
 
  %h3 Professional Development

  %em Info about professional development goes here.

  = render 'table_maker', 
           id: 'pending',
           title: "Procedures awaiting validation",
           total: @nurse.pending_procs.count,
           headers: %w[Procedure Date],
           collection: @nurse.pending_procs,
           row_partial: 'valid_proc',
           owise: 'Nothing waiting for validation.'

  = render 'table_maker',
           id: 'rejected',
           title: "Invalid procedures",
           total: @nurse.rejected_procs.count,
           headers: %w[Procedure Date],
           collection: @nurse.rejected_procs,
           row_partial: 'rejected_proc',
           owise: 'No invalid procedures.'

  = render 'table_maker',
           id: 'completed',
           title: "Summary of completed procs",
           total: @nurse.completed_procs_total,
           headers: %w[Procedure Quantity],
           collection: @nurse.completed_procs_summary.to_a,
           row_partial: 'completed_proc',
           owise: 'No completed procedures yet.'

  = render 'table_maker',
           id: 'emergency',
           title: "Procedures carried out in an emergency",
           total: @nurse.completed_procs_total(emergency: true),
           headers: %w[Procedure Quantity],
           collection: @nurse.completed_procs_summary(emergency: true).to_a,
           row_partial: 'completed_proc',
           owise: 'No procedures carried out in an emergency (yet).'

:css
  a.rejected  {
    color: red;
  }
  #nurseImage {
    width: 75px;
    height: auto;
    position: relative;
    float: right;
    padding: 1px;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 10;
  }
  #accordion {
    position: relative;
    top: -80px;
    clear: both;
  }
  .validated_by {
    border: none;
    font-style: italic;
    font-size: 0.75em;
  }
  .watchMe {
    padding-bottom: 1.15em;
  }

