



= content_for :header do 
  %h1 Super secret administrative page

- if flash[:notice]
  #notice= flash[:notice]

%h1 List of nurses known to CathTraq

%table
  %tr
    %th Username
    %th Admin
    %th Validator
    %th
    %th
    %th
 
  - @nurses.each do |nurse|
    %tr
      %td= nurse.username
      %td= nurse.admin
      %td= nurse.validator
      %td= link_to 'Show', nurse
      %td= link_to 'Edit', edit_nurse_path(nurse)
      %td= link_to 'Destroy', nurse, method: :delete, data: { confirm: 'Are you sure?' }
      %td= link_to 'Add Proc', new_completed_proc_path
      %td= link_to 'Pending Validations', pending_validations_nurse_path(nurse) if nurse.validator?
      %td= link_to 'Send Mail', send_mail_nurse_path(nurse) if nurse.validator?

%br

= link_to 'New Nurse', new_nurse_path
