




%h1 #{ApplicationHelper::VALIDATION_CONTENT} for Nurse #{@nurse.first_name} (uid #{@nurse.username})

%pre (total #{CompletedProc.pending_validations.count})

= render 'pending_validations_table'
