




%h1 Pending Validations for Nurse #{@nurse.first_name}
(username #{@nurse.username})

= form_for @nurse, :method => :put, :url => { :action => "validate_procs" } do |f|
  %table#pendingValidationsTable{border: 1}
    %tr
      %th Validate?
      %th Nurse
      %th Procedure
      %th Date
    - @nurse.all_validatee_procs_pending_validation.each do |comp_proc|
      %tr
        = f.fields_for :proc_ids do |proc_ids|
          %td= proc_ids.check_box comp_proc._id, {checked: true}, 'validate', nil
        %td Nurse #{comp_proc.nurse.first_name} (#{comp_proc.nurse.username})
        %td= comp_proc.procedure.name
        %td= comp_proc.date_start

  =f.submit 'Validate Checked'