



%html
  %head
  %title CliniTraq
  = stylesheet_link_tag "application", :media => "all" 
  = javascript_include_tag "application" 
  = csrf_meta_tags 

  - n=logged_in_nurse and is_vn=logged_in_nurse.validator?
  
  %body
    .container
      .header
        = image_tag 'logo.png', id: 'logo'
        = yield :header


      .left        
        - if n
          %br
          .link= link_to 'Home Page', home_nurse_path(n)
          .link= link_to 'Submit Proc', new_completed_proc_path
          - if is_vn
            .link= link_to 'Pending Validations', pending_validations_nurse_path(n)
            .link= link_to 'Send Mail', send_mail_nurse_path(n)
          .link= link_to 'Logout', logout_path, method: :delete 
      .content
        = yield
      .footer
        = "#{n.first_name} #{n.last_name}" if n
        = "(validating nurse)" if is_vn


  :css
    #logo {
      width: 100px ;
      height: auto ;
      float: right ;
      position: relative ;
      z-index: 1 ;
    }
    div.container {
      width:100%;
      margin:0px;
      border:1px solid gray;
    }
    div.header,div.footer {
      padding:0.5em;
      color:white;
      background-color:deepskyblue;
      clear:left;
    }
    h1.header {
      padding:0;
      margin:0;
    }
    div.left {
      float:left;
      width:160px;
      margin:0;
      padding:1em;
    }
    div.content {
      margin-left:190px;
      border-left:1px solid gray;
      padding:1em;
    }