



!!! 5
%html
  %head
  %title CathTraq
  = stylesheet_link_tag    "application", :media => "all" 
  = javascript_include_tag "application" 
  = csrf_meta_tags 

  %body
    = yield 
    - if logged_in_nurse
      = button_to 'Goto my home page', completed_procs_path, method: :get 
      = button_to 'Logout', logout_path, method: :delete 
